# MacOS
.DS_Store

# Linux – Exclude Dolphin files (KDE File manager)
.directory

# IDEA
.idea
.gigaide
*.iml
*.ipr
lib

# GigaIDE
.sberstack/**

# Maven
target

# Логи
*.log

tmpp
#gradle
**/.gradle
**/build
**/out
.DS_Store

**/output.log
output.log
*.hprof
**/*.hrpof
**/logs/*
**/*.zip
*.tmp
amplicode.xml

# Архивы
*.zip

# Version backup
*.versionsBackup
.flattened-pom.xml
