# MacOS
.DS_Store

# Gradle
.gradle
.local/
build
lib

# Linux – Exclude Dolphin files (KDE File manager)
.directory

# IDEA
.idea/**
*.iml
*.ipr

# Maven
target

# Логи
*.log
**/logs
**/bin

tmp
го
# GigaIDE
.gigaide/**
.kotlin

# mvn versions
pom.xml.versionsBackup
/*.md
