{
"schema_version": "4.1",
  "services": [
    {
      "subsystem": "ROUTER_EXECUTOR_JAVA_DAB2C",
      "deploymentUnit": "router_executor_java_dab2c_router_executor",
      "routing": [
        {
          "default": true,
          "routes": [
            {
                "groupName": "R4.2"
            }
          ]
        }
      ]
    }
  ]
}
