{%- macro getOSE(datacenters, secroutevar, secport, replicas) -%}
"dataCenters": [
    {%- for tsodkey,tsodval in datacenters.items() %}

                {
                  "name": "{{tsodkey}}",
                  "https": {
                    "nodes": [
        {%- for routerIp in tsodval.openshiftRoutersFQDN %}
                      {
                        "node": "{{routerIp}}:{{secport}}",
                        "headerHost": "{{tsodval[secroutevar]}}",
                        "containerized": true,
                        "replicas": {{tsodval[replicas]}}
                      }
            {{- "," if not loop.last else "" }}
        {%- endfor %}
                    ]
                  }
                }
        {{- "," if not loop.last else "" }}
    {% endfor %}
              ]
{%- endmacro -%}
{
  "schema_version": "4.1",
  "services": [
    {
      "subsystem": "ROUTER_EXECUTOR_JAVA_DAB2C",
      "deploymentUnit": "router_executor_java_dab2c_router_executor",
      "description": "ROUTER_EXECUTOR_JAVA_DAB2C Router-executor",
      "usedGateways": ["IAG_MM"],
      "apiVersions": [
        {
          "version": "v1",
          "nodeGroups": [
           {
              "groupName": "R4.2",
              {{ getOSE(datacenters, 'router-executor.ose.istio.ingress.route.spec.host.router-executor-router-executor.appFQDN', '443', 'router-executor-router-executor.ose.deployment.spec.replicas') }}
           }
          ]
        }
      ]
    }
  ]
}
